<div class="tw-card">
  <div class="mt-5">
    <h2>Nueva marca</h2>
    <form>
      <div class="mb-3 d-flex flex-column align-items-start justify-content-around">

        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevaMarca.nombre" name="nombre"
          placeholder="Ingresa nombre de la marca" required>

        <label for="propietario" class="form-label">Propietario</label>
        <input type="text" class="form-control" id="propietario" [(ngModel)]="nuevaMarca.propietario" name="propietario"
          placeholder="Ingresa el propietario" required>

        <label for="telefono" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="telefono" [(ngModel)]="nuevaMarca.tel" name="telefono"
          placeholder="Ingresa tu teléfono" required>

        <label for="rfc" class="form-label">CODIGO</label>
        <input type="text" class="form-control" id="rfc" [(ngModel)]="nuevaMarca.rfc" name="rfc"
          placeholder="Ingresa codigo" required>

        <label for="foto">Foto:</label>
        <input type="file" class="form-control-file" accept="image/*" (change)="convertir_B64($event)" id="foto">
      </div>
      <br />
      <button type="button" class="btn btn-primary" (click)="enviarMarca()">Enviar</button>
    </form>
  </div>
