<div class="container-transparente mt-5">
  <h2>Actualizar Usuario</h2>
  <form *ngIf="usuario">
      <div class="mb-3">
          <label for="nombre" class="form-label">Gmail</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.gmail" name="nombre" placeholder="Ingresa nombre del Usuario" required [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Password</label>
        <input type="password" class="form-control" id="nombre" [(ngModel)]="usuario.password" name="nombre" placeholder="Ingresa nombre del Usuario" required [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
          <label for="telefono" class="form-label">Rol</label>
          <input type="tel" class="form-control" id="telefono" [(ngModel)]="usuario.rol" name="telefono" placeholder="Ingresa teléfono del Usuario" required [ngModelOptions]="{standalone: true}">
      </div>
      <button type="button" class="btn btn-primary" (click)="actualizarUsuario()">Actualizar</button>
  </form>
</div>
