<div class="tw-card">
  <div class="mt-5">
  <h2>Formulario de Empleado</h2>
  <form>
    <div class="mb-3 d-flex flex-column align-items-start justify-content-around">
            <label for="nombre" class="form-label">Gmail</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="miEmpleado.gmail" name="Gmail" placeholder="Ingresa gmail">
            <label for="nombre" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="miEmpleado.password" name="password" placeholder="Ingresa password">
            <label for="nombre" class="form-label">Status</label>
            <select id="Clasificación" class="form-control" [(ngModel)]="miEmpleado.status" [ngModelOptions]="{standalone: true}">
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
            <label for="nombre" class="form-label">Edad</label>
            <input type="number" class="form-control" id="edad" [(ngModel)]="miEmpleado.edad" name="Gmail" placeholder="Ingresa Edad">
            <label for="nombre" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="direccion" [(ngModel)]="miEmpleado.direccion" name="Gmail" placeholder="Ingresa direccion">
      </div>
      <button type="button" class="btn btn-primary" (click)="enviarEmpleado()">Enviar</button>
  </form>
</div>
