<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: rgb(201, 101, 118);">Tupperware</a>
        </li>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proveedores
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="CatalogoProveedor" routerLinkActive="active" >catalogo</a></li>
            <li><a class="dropdown-item" routerLink="NuevoProveedor" routerLinkActive="active" >nuevo proveedor</a></li>
            <li>  <hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="BuscarProveedor" routerLinkActive="active" >Buscar</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Producto
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="productosCatalogo" routerLinkActive="active" >catalogo</a></li>
            <li><a class="dropdown-item" routerLink="NuevoProducto" routerLinkActive="active" >nuevo prodcuto </a></li>
            <li>  <hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="BuscarProducto" routerLinkActive="active" >Buscar</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Marca
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="CatalogoMarca" routerLinkActive="active">catalogo</a></li>
            <li><a class="dropdown-item" routerLink="NuevaMarca" routerLinkActive="active">nueva marca</a></li>
            <li>  <hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="BuscarMarca" routerLinkActive="active" >Buscar</a></li>
          </ul>
        </li>

        <!-- Usuario -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuario
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="catalogo-usuario" routerLinkActive="active">Catalogo</a></li>
            <li><a class="dropdown-item" routerLink="nuevo-usuario" routerLinkActive="active">Nuevo Usuario</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Empleado
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="catalogo-empleado" routerLinkActive="active">Catalogo</a></li>
            <li><a class="dropdown-item" routerLink="nuevo-empleado" routerLinkActive="active">Nuevo Empleado</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cliente
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="catalogo-cliente" routerLinkActive="active">Catalogo</a></li>
            <li><a class="dropdown-item" routerLink="nuevo-cliente" routerLinkActive="active">Nuevo Cliente</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departamento
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="catalogo-empleado" routerLinkActive="active">Catalogo</a></li>
            <li><a class="dropdown-item" routerLink="nuevo-empleado" routerLinkActive="active">Nuevo Departamento</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Carrito
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="carrito" routerLinkActive="active">Ver carrito</a></li>
            <li><a class="dropdown-item" routerLink="buscar-carrito" routerLinkActive="active">Buscar carrito</a></li>
          </ul>
        </li>



      </ul>
      <div class="button-badge" (click)="goToCarrito()">
        <span class="cart-badge">{{ numArticulos }}</span>
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <!-- Navbar content -->
</nav>






