<div class="container-transparente mt-5">
  <h2>Formulario de Cliente</h2>
  <form>
      <div class="mb-3">
            <label for="nombre" class="form-label">Correo</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="miCliente.correo" name="Gmail" placeholder="Ingresa correo">
            <label for="nombre" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="miCliente.password" name="password" placeholder="Ingresa password">
            <label for="nombre" class="form-label">Edad</label>
            <input type="number" class="form-control" id="status" [(ngModel)]="miCliente.edad" name="Gmail" placeholder="Ingrese su edad">
            <label for="nombre" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="edad" [(ngModel)]="miCliente.direccion" name="Gmail" placeholder="Ingresa su direccion">
            <label for="nombre" class="form-label">NomUser</label>
            <input type="text" class="form-control" id="nom-user" [(ngModel)]="miCliente.nomuser" name="Gmail" placeholder="Ingrese su nomuser">
            <label for="nombre" class="form-label">Telefono</label>
            <input type="tel" class="form-control" id="tel" [(ngModel)]="miCliente.tel" name="Gmail" placeholder="Ingrese su telefono">
      </div>
      <button type="button" class="btn btn-primary" (click)="enviarCliente()">Enviar</button>
  </form>
</div>
